<h1>Showing selected article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<p><%= button_to 'Edit', edit_article_path(@article),method: :get %></p>

<p><%= button_to 'Delete', article_path(@article),method: :delete, data: {confirm:"Are you sure?"} %></p>

<p><%= button_to 'Back to articles listing', articles_path,method: :get %></p>