<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Rails Blog", root_path, id: "logo", class: "navgar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "New article", new_article_path %></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div class='navbar-form navbar-right'>
        <% if logged_in? %>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Login", login_path, class: "btn btn-default" %>
          <%= link_to "Signup", signup_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
